body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    gap: 4rem;
    justify-items: center;
    margin-top: 4rem;
  }
  
img {
  max-width: 100%;
  display: flex;
  align-content: center;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

ul{
  display: flex;
  list-style: none;
  gap: 1.2rem;

}

.header{
  display:grid;
  justify-items: center;
  gap: 3rem;

}
.menu a {
  display: block;
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  gap: 1.2rem;
  border: 2px solid #f7f7f7;
}

.menu a:hover{
  border: 2px solid #e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 2.4rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.2rem;
  align-content: center;
  justify-items: end;
}

.introducao::before{
  content:"";
  width: 4rem;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 2rem;
  right: -2rem;
}

.introducao h1{
  font-size: 2rem;
}
  
.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #f7f7f7;
}

.botao:hover{
  background-color: rgb(133, 20, 10);
}

  
.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.4rem;
  align-self: center;
  background: url(../img/onda.svg);
  background-repeat: no-repeat;
}
  
.vantagens {
  display: grid;
  background: #fff;
  padding: 2.4rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  padding: 1rem;
}

.vantagens-item:hover {
  border-left: 4px solid #e21;
}

.vantagens-item:nth-child(odd){
  background-color: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
